[submodule "models/ChicagoLand"]
	path = models/ChicagoLand
	url = git@github.com:PSC-PublicHealth/pyrhea-ChicagoLand.git
[submodule "models/OrangeCounty2013"]
	path = models/OrangeCounty2013
	url = git@github.com:PSC-PublicHealth/pyrhea-OrangeCounty2013.git
[submodule "models/OrangeCounty"]
	path = models/OrangeCounty
	url = git@github.com:PSC-PublicHealth/pyrhea-OrangeCounty.git
